.GitCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}

.GitCard-number {
  font-weight: lighter;
  font-size: 36px;
  margin-bottom: 10px;
}

.GitCard-avatar {
  height: 150px;
  width: 150px;
}

.GitCard-item-title {
  font-weight: bold;
  font-size: 24px;
  margin: 15px 0 15px 0;
}

.GitCard-item-title a {
  color: rgb(156, 46, 46);
  text-decoration: none;
}

.GitCard-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.GitCard-info-item {
  display: flex;
  padding: 5px 0;
  margin: 5px 0;
  font-size: 20px;
}

.GitCard.light {
  background-color: rgb(230, 230, 230);
  color: rgb(34, 34, 34);
}

.GitCard.dark {
  background-color: rgb(65, 65, 65);
  color: rgb(220, 220, 220);
}
